#
# My Project (Narou.rb)
#
.backup/
小説データ/
小説データ/
kindlestrip.py
kindlegen.exe
t.rb
資料
AozoraEpub3*
TODO.txt
MEMO.txt
.narou/
.narousetting/
*.zip
debug
.DS_Store
*.swp
*.swo
*.un~
*.orig
*.patch
trash/
.ruby-version
.sass-cache/
log/
misc/
hotentry/
replace.txt
tags
trace_dump.txt

\#*\#

archive
commitversion

.test_dot_narou/
.test_novel_data/

mail_setting.yaml

#
# for gem
#
*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
document

