#
# My Project (Narou.rb)
#
.backup/
小説データ/
kindlestrip.py
kindlegen.exe
t.rb
資料
AozoraEpub3
TODO.txt
MEMO.txt
.narou/
*.zip
debug

\#*\#

archive
commitversion
narou.bat

#
# for gem
#
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

