%div(style="text-align:center")
  %h1
    %strong Narou.rb
  %div
    Version #{@narourb_version}<br>
    Copyright 2013 whiteleaf. All rights reserved.
  .well.well-sm(style="font-size:80%")
    #{@ruby_version}<br>
    #{env["HTTP_USER_AGENT"]}


