:javascript
  var local_initialize_function = function($) {
  };

.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#" data-move-to="top") Narou.rb WEB UI
    #bs-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a(href="/settings") 環境設定
        %li.active
          %a(href="/help") ヘルプ
        %li
          %a(href="/") 戻る
.container.theme-showcase(role="main")
  %div
    へるぷ　なんて　なかった

