@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

.vrtl body, .hltr body {
	font-family: "@ＭＳ 明朝", "@MS Mincho", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", serif, sans-serif;
	line-height: <%= line_height %>em !important;
}

.vrtl .gtc, .hltr .gtc, .b {
	font-family: '@ＭＳ ゴシック','@MS Gothic',sans-serif !important;
}

.vrtl rt, .hltr rt { font-size: 0.6em; }

/* カスタム注記用 */
/* 柱（もどき） */
.running_head {
	position: absolute !important;
	top: 15px;
	left: 10px;
	font-size: 0.8em;
}
<% if tategaki %>
/* ページ左右中央 調整 */
.main.block-align-center div.mt3 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.main.block-align-center > div {
	margin-top: 4em !important;
}
div.main.block-align-center div.running_head {
	position: absolute !important;
	top: 2em;
	left: 10px;
	font-size: 0.8em;
}
<% end %>
<% if use_dakuten_font %>
/* 濁点フォント */
@font-face {
	font-family: "DakutenAokinMincho";
	src: url(../fonts/DMincho.ttf) format("truetype");
}
.vrtl .dakuten, .hltr .dakuten {
	font-family: "DakutenAokinMincho" !important;
}
<% end %>
/* 二分アキ */
.half_em_space { padding-top: 0.5em; }

/* パラメーター（折り返しあり） */
.custom_parameter_block {
	font-size: 100%;
	line-height: 1.2em !important;
	border: 2px solid #000;
	border-radius: 4px;
	margin: 1em 0.5em 1em 0.5em;
	padding: 1em 0.2em 1em 0.2em;
	display: inline-block;
	font-family: sans-serif !important;
	font-weight: bold;
	box-shadow: 3px 3px 3px #bbb;
	-webkit-box-shadow: 3px 3px 3px #bbb;
}
.vrtl .jzm .custom_parameter_block, .hltr .jzm .custom_parameter_block {
	display: block;
}
.vrtl .jzm .p .custom_parameter_block, .hltr .jzm .p .custom_parameter_block {
	display: inline-block;
}

/* 前書き */
.vrtl .introduction {
	float: right;
	font-size: 83%;
	line-height: 1.5em !important;
	border-top: 3px solid #aaa;
	color: #555;
	margin: 0.25em;
	margin-right: 1em;
	padding: 1em 0.5em 1em 0.5em;
	display: inline-block;
	font-family: sans-serif !important;
	text-align: left !important;
	height: 70%;
}
.vrtl .jzm .introduction, .hltr .jzm .introduction {
	display: block;
}
.vrtl .jzm .p .introduction, .hltr .jzm .p .introduction {
	display: inline-block;
}

/* 後書き */
.vrtl .postscript {
	float: right;
	font-size: 83%;
	line-height: 1.5em !important;
	border-top: 3px solid #888;
	color: #222;
	margin: 0.25em;
	margin-right: 2em;
	padding: 1em 0.5em 1em 0.5em;
	display: inline-block;
	font-family: sans-serif !important;
	text-align: left !important;
	height: 70%;
}
.vrtl .jzm .postscript, .hltr .jzm .postscript {
	display: block;
}
.vrtl .jzm .p .postscript, .hltr .jzm .p .postscript {
	display: inline-block;
}

.vrtl div.clear, .hltr div.clear {
	clear: both;
}
