<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2011/epub" lang="ja" xml:lang="ja">
<head>
<title>${title}</title>
<style type="text/css">
.hidden { display: none; }
#if (${bookInfo.TocVertical})
@page {margin:.5em .5em 0 0;}
html {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
}
h1 {font-size:1.5em; padding-top:1em;}
li {list-style:disc; list-style-type: none; padding:0 .25em 0 0; line-height:1.75em;}
li a {text-decoration:none; border-right-width:1px; border-right-style:solid; padding-right: 1px;}
.tcy span {
	width: 1em;
	text-combine: horizontal;
	-webkit-text-combine: horizontal;
	-epub-text-combine: horizontal;
}
#else
@page {margin:.5em 0 0 .5em;}
html {
	writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	-epub-writing-mode:horizontal-tb;
}
h1 {font-size:1.5em; text-align:center;}
li {padding:.25em 0 0 0; list-style:disc; list-style-type: none; line-height:1.75em;}
li a {text-decoration:none; border-bottom-width:1px; border-bottom-style:solid; padding-right: 1px;}
#end
</style>
</head>

<body>
## epub3 landmarks nav ==========================
	<nav epub:type="landmarks" id="landmarks" hidden="" class="hidden">
		<ol>
#if (${bookInfo.InsertCoverPage})
			<li><a epub:type="cover" href="cover.xhtml">表紙</a></li>
#end
#if (${bookInfo.InsertTocPage})
			<li><a epub:type="toc" href="nav.xhtml">目次</a></li>
#end
#foreach (${chapter} in ${chapters})
#if (${chapter.SectionId} == "title")
			<li><a epub:type="title-page" href="title.xhtml">扉</a></li>
#else
			<li><a epub:type="bodymatter" href="${chapter.SectionId}.xhtml">本文</a></li>
#break
#end
#end
		</ol>
	</nav>
## epub3 toc nav ================================
	<nav epub:type="toc" id="toc">
		<h1>目　次</h1>
		<ol>
#if (${bookInfo.InsertCoverPage} && ${bookInfo.InsertCoverPageToc})
			<li class="chapter" id="toccover"><a href="cover.xhtml">${cover_name}</a></li>
#end
#set ($idx=0)
#set ($nest_level=0)
#foreach(${chapter} in ${chapters})
#if ($chapter.ChapterName)
#set ($idx=$idx+1)
#if ($chapter.ChapterId)
#set ($chapter_anchor="#"+$chapter.ChapterId)
#else
#set ($chapter_anchor="")
#end
## enable nested toc ------------------------
#if (${navNest})
#if (${idx} > 1)
#if (${chapter.ChapterLevel} > ${nest_level})
			<ol>
#elseif (${chapter.ChapterLevel} == ${nest_level})
				</li>
#elseif (${chapter.ChapterLevel} < ${nest_level})
#set ($loop_count=$nest_level - $chapter.ChapterLevel - 1)
#foreach (${i} in [0..${loop_count}])
				</li>
			</ol>
#end
			</li>
#end
#end
				<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml$!{chapter_anchor}">${chapter.ChapterName}</a>
#set ($nest_level=$chapter.ChapterLevel)
## disable nested toc -----------------------
#else
			<li class="chapter" id="toc${idx}"><a href="${chapter.SectionId}.xhtml$!{chapter_anchor}">${chapter.ChapterName}</a></li>
#end
#end
#end
#if (${navNest})
#foreach (${end} in [${nest_level}..0])
			</li>
			</ol>
#end
#else
		</ol>
#end
	</nav>
</body>
</html>
